*.html
*.png
*.docx
*.pptx
*.pdf
*.csv
*.css
*.download
*.xlsx
*.jpg
*.jpeg
*.txt
*.tmp
Manuscript/New Citations/Wasted fishery resources_ discarded by‐catch in the USA - Harrington - 2005 - Fish and Fisheries - Wiley Online Library_files/thiss-ds
*.webp
Manuscript/New Citations/Wasted fishery resources_ discarded by‐catch in the USA - Harrington - 2005 - Fish and Fisheries - Wiley Online Library_files/saved_resource(1)
Manuscript/New Citations/Wasted fishery resources_ discarded by‐catch in the USA - Harrington - 2005 - Fish and Fisheries - Wiley Online Library_files/saved_resource
*.x
Manuscript/New Citations/Wasted fishery resources_ discarded by‐catch in the USA - Harrington - 2005 - Fish and Fisheries - Wiley Online Library_files/js
*.php
Manuscript/New Citations/Wasted fishery resources_ discarded by‐catch in the USA - Harrington - 2005 - Fish and Fisheries - Wiley Online Library_files/iframe_api
*.gif
Manuscript/New Citations/Wasted fishery resources_ discarded by‐catch in the USA - Harrington - 2005 - Fish and Fisheries - Wiley Online Library_files/controltag
*.cgi
